exclude CMake*
exclude README_*
exclude advanced_flags.md
exclude .flake8
prune .github
prune tools
prune notebooks
prune scripts
include scripts/cx-expander
prune cmake_modules
prune docs
prune assets
prune resources
prune tests
